.menu {
  width: 358px;
  margin-top: 50px;
  margin-left: 50px;
}

.menu__item:first-child .menu__link {
  border-top: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.menu__item:last-child .menu__link {
  border-bottom: 1px solid #000000;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu__link {
  display: block;
  padding-top: 10px;
  padding-right: 19px;
  padding-bottom: 7px;
  padding-left: 19px;

  color: black;

  background-color: #cccccc;
  border-right: 1px solid #000000;
  border-left: 1px solid #000000;

  &--current {
    background-color: #9c9c9c;
    border: none;
  }

  &[href] {
    &:hover,
    &:focus {
      background-color: #9c9c9c;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
